/*
   |--------------------------------------------------------------------------
   | Fonts
   |--------------------------------------------------------------------------
   */
@import "./assets/fonts/_public-sans.css";

/*
   |--------------------------------------------------------------------------
   | Components
   |--------------------------------------------------------------------------
   |
   | Import CSS components.
   |
   */
@import "./assets/css/_box.css";
@import "./assets/css/_global.css";
@import "./assets/css/_scrollbar-hidden.css";
@import "./assets/css/_theme.css";

/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
